body {
}

#header {
    background-color:maroon;
    color:magenta;
    border-bottom:solid 10px black;
    text-align:center;
}

h1{
    font-family:Arial;
    font-size:400%;

}

.error {
    color:red;
}
